REACT_APP_FIREBASE_API_KEY=AIzaSyAx-zjFxYmKqYtGNRPumZG7Q1xH4i90TgI
REACT_APP_FIREBASE_AUTH_DOMAIN=karthick-wealth-tracker.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=karthick-wealth-tracker
REACT_APP_FIREBASE_STORAGE_BUCKET=karthick-wealth-tracker.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1008785692987
REACT_APP_FIREBASE_APP_ID=1:1008785692987:web:671381f18d6c05cfbf7f1e
